
	<div class="slider">
		<div>
			<img src="assets/img/img1.webp" />
		</div>
		<div>
			<img src="assets/img/img2.webp" />
		</div>
		<div>
			<img src="assets/img/img3.webp" />
		</div>
		<div>
			<img src="assets/img/img2.webp" />
		</div>
		<div>
			<img src="assets/img/img1.webp" />
		</div>
	</div>
